.img-size{
    width: 270px;
    height: 400px;
}
.div-devide{
    height: auto;
    width: 100%;
    background-color: rgba(17, 13, 13, 0.5);   
}
.loc-detail{    
    color: white;   
    margin: 30px 70px;
    padding: 20px;
}
.carousel{
    margin: 20px 5px;
    padding-bottom: 115px;
}